body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}    
html {
    font-family: helvetica, arial, sans-serif;
}
.clear{
    clear: both;
}
/*header*/
#header {
    background-color: rgb(233, 164, 118);
    width: 100%;
    height: 100px;
    display: flex;
}

#header img {
    width: 110px;
    height: 100px;
    line-height: 100px;
    margin-left: 40px;
}

.text-logo {
    margin-right: 50px;
    margin-left: 30;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 100%;
    height: 100%;
}

.HTH {
    font-size: 25px;
    margin-bottom: -5px;
    font-weight: 700;
}

.FUTSAL {
    margin-left: -20px;
    font-size: 20px;
}

.input {
    width: 800px;
    height: 100px;
    line-height: 100px;
}

input {
    width: 800px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #979595;
}

.ti-search {
    margin-left: -32px;
    cursor: pointer;
    line-height: 100%;
    height: 100%;
    color: black;
    font-weight: 800;
}

.ti-user {
    margin-left: 70px;
    line-height: 100px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 70px;
    display: flex;
    align-items: center;
}

.ti-shopping-cart {
    line-height: 100px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.accout {
    background-color: #fff;
    font-family: roboto condensed;
    font-size: 14px;
    box-shadow: 0 1px 1.5px rgb(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    top: 70px;
    right: 103px;
    width: 110px;
    height: 80px;
    z-index: 2;
}

.accout::before {
    content: "";
    display: block;
    border-width: 5px 6px;
    border-style: solid;
    border-color: transparent transparent #c43127 transparent;
    position: absolute;
    top: -10px;
    right: 50px;
}


.accout ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
}

.accout ul li {
    width: 100%;
    height: 40px;
}

.accout ul li:hover {
    color: red;
    transition: all 0.1s ease;
    cursor: pointer;
}

.ti-user:hover .accout {
    display: block;
}
/*nav*/
.nav {
    list-style: none;
    display: flex;
    position: absolute;
    top: 120px;
    margin-left: 50px;
    cursor: pointer;
}

.nav li {
    margin-right: 30px;
    font-weight: 550;
    font-size: 18px;
}
.type {
    font-family: Arial, Helvetica, sans-serif;
    width: 144px;
    height: 128px;
    line-height: 30px;
    padding-left: 0;
    background-color: #fff;
    list-style: none;
    position: absolute;
    top: 25px;
    display: none;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
}

.content li:hover {
    color: red;
}

.nav>li:nth-child(3)::after {
    display: block;
    content: "";
    height: 6px;
    width: 150px;
    background-color: #fff;
}

.type li {
    height: 32px;
    font-weight: 700;
    font-size: 15px;
    color: black;
    cursor: pointer;
    width: 100%;
}

.type li span{
    margin-left: 5px;
}

.nav li:hover .type {
    display: block;
}

.type>li:hover {
    color: rgb(248, 48, 48);
    background-color: #acaaaa;
}

.nav li:nth-child(3):hover .type {
    display: block;
}
.type1 {
    font-family: Arial, Helvetica, sans-serif;
    width: 144px;
    height: 128px;
    line-height: 30px;
    padding-left: 0;
    background-color: #fff;
    list-style: none;
    position: absolute;
    top: 25px;
    display: none;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
}

.content li:hover .type1 {
    color: red;
}

.nav>li:nth-child(3)::after {
    display: block;
    content: "";
    height: 6px;
    width: 150px;
    background-color: #fff;
}

.type1 li span{
    margin-left: 5px;
}

.type1 li {
    height: 32px;
    font-weight: 700;
    font-size: 15px;
    color: black;
    cursor: pointer;
    width: 100%;
}

.nav li:hover .type1 {
    display: block;
}

.type1>li:hover {
    color: rgb(248, 48, 48);
    background-color: #acaaaa;
}

.nav li:nth-child(3):hover .type1 {
    display: block;
}

.type2 {
    font-family: Arial, Helvetica, sans-serif;
    width: 144px;
    height: 128px;
    line-height: 30px;
    padding-left: 0;
    background-color: #fff;
    list-style: none;
    position: absolute;
    top: 25px;
    display: none;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
}

.content li:hover .type2 {
    color: red;
}

.nav>li:nth-child(3)::after {
    display: block;
    content: "";
    height: 6px;
    width: 150px;
    background-color: #fff;
}

.type2 li span{
    margin-left: 5px;
}

.type2 li {
    height: 32px;
    font-weight: 700;
    font-size: 15px;
    color: black;
    cursor: pointer;
    width: 100%;
}

.nav li:hover .type2 {
    display: block;
}

.type2>li:hover {
    color: rgb(248, 48, 48);
    background-color: #acaaaa;
}


.nav li:nth-child(3):hover .type2 {
    display: block;
}
.red {
    color: red;
}
.nav li:hover{
    cursor: pointer;
    color: red;
}
/*end nav*/

/*css content*/
#content {
    
}
.Tintucgiay{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.Tintucgiay-item{
    float:left;
    width: 20%;
    padding: 0 8px;
    padding-left: 60px;
    padding-top: 50px;
}
.anhNoidungtin{
    width: 100%;
    display: block;
}
.anhNoidungtin:hover {
    opacity: 0.6;
    cursor: pointer;
}
.Tieude:hover{
    opacity: 0.6;
    cursor: pointer;
}
.Noidungchitiet {
    opacity: 0.6;
}
/*footer*/
.information{
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
}

.half-information{
    display: flex;
    width: 100%;
}

.policy{
    height: 500px;
    line-height: 30px;
    font-size: 13px;
    width: 100%;
    margin-left: 130px;
    padding-right: 20px;
}

.heading-policy{
    font-size: 18px;
}

.policy-list, .address-list{
    list-style: none;
    padding-left: 0;
}

.policy-list li, .address-list li{
    padding-bottom: 12px;
    padding-right: 130px;
    cursor: pointer;

}

.policy-list li:hover, .address-list li:hover{
    color: #c43127;
}

.line-height{
    line-height: 1.3rem;
}

.address{
    height: 500px;
    line-height: 30px;
    font-size: 13px;
    width: 100%;
    margin-right: -10px;
}

.heading-address{
    font-size: 18px;
}

.IG{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: -90px;
    padding-left: 40px;
}

.heading-IG{
    font-size: 18px;
}

.IG-list{
    width: 100%;
}

.IG-list img{
    height: 110px;
    width: 110px;
}